#form {
  position: fixed;
  border: 1px solid black;
  width: 30%;
  padding: 30px;
  margin-top: -30px;
  background: white;
  box-shadow: -1px 1px 16px -1px rgba(0,0,0,0.75);
}
textarea {
  resize: none;
}
h2 {
  font-family: Karla;
  margin-bottom: 20px;
}
#invalid-text {
  margin-top: 10px;
  margin-bottom: 0;
  display: none;
  text-align: center
}
#invalid-text span {
  color: crimson;
}
.text-invalid {
  color: red;
  margin-left: 10px;
  font-size: 13px;
  display: none;
}
.invalid-input {
  border: 1px solid red;
}
@media (max-width: 768px) {
  #form {
    position: static;
    width: 300px;
  }
}
@media (max-width: 490px) {
  body {
    margin-left: 20%;
  }
  #form {
    width: 300px;
    margin: 0 auto;
  }
}
