<div id="one" *ngFor='let quote of quotesList;let i = index'>
  <div  class="w-75 quote-container" [class.highestQuote]="quote.highestVote" [style.backgroundColor]="quote.highestVote ? '#D4E6F1' : white"  appHighlight>
    <p class="actualQuote ml-2">{{quote.actual}}" </p>
    <div class="author-container">
      <p class="author-line">-{{quote.author}}</p>
    </div>
    <div id="buttons">
      <button class="btn btn-sm show btn-info" (click)="showDetails(i)">Details</button>
      <button class="btn btn-sm btn-danger" (click)="delete.emit(i)">Delete</button>
    </div>
    <app-quote-info *ngIf='quote.showDescription' [quoteDet]="quote" [index]='i' (upvote)="toUpVote($event,i)" (downvote) = "toDownVote($event,i)" ></app-quote-info>
  </div>
</div>